@font-face {
    font-family: gelato;
    src: url('../../../public/fonts/Gelato.otf');
}

.page2{
    padding-top: calc(2.5vw + 2.5vh);
    height: 100vh;
    width: 100vw;
    position: relative;
    .rose{
        position: absolute;
        aspect-ratio: 1/1;
        height: 90px;
        background-size: 90px;
        background-repeat: no-repeat;
        animation: roseShow 1.5s ease-in-out forwards;
        transform: translate(-50%,-50%);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rose:nth-child(1){
        background-image: url('../assets/rose3.png');
        top: 5%;
        left: 8%;
        animation-delay: random(9) * 100ms;
    }
    .rose:nth-child(2){
        background-image: url('../assets/rose4.png');
        top: 4%;
        left: 90%;
        animation-delay: random(9) * 100ms;
    }
    .rose:nth-child(3){
        background-image: url('../assets/rose2.png');
        top: 100%;
        left: 90%;
        animation-delay: random(9) * 100ms;
    }
    .rose:nth-child(4){
        background-image: url('../assets/rose2.png');
        top: 90%;
        left: -5%;
        animation-delay: random(9) * 100ms;
    }
    .rose:nth-child(5){
        background-image: url('../assets/rose2.png');
        top: calc(75% + 5vw);
        left: 105%;
        animation-delay: random(9) * 100ms;
    }

    
    .title{
        opacity: 0;
        font-family: Gelato;
        font-size: 2.5em;
        animation: 1s showleft 1s ease-in-out forwards ;

    }

    .sponsors{
        margin-top: 1em;
        background-image: url('../assets/bg2.png');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        left:20%;
        z-index: 2;
        display:grid;
        font-weight: 700;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 1em;
        padding: .5em;
        font-size: 80%;
        border: 5px #0c2d1c solid;


        .candle,.veil,.cord{
            text-align: center;
            display: grid;
            .title{
                font-size: 1.5em;
                font-family: Gelato;
                opacity: 0;
            }
            .names{
                display: grid;
                opacity: 0;
                grid-template-columns: 1fr 1fr;
                animation: 1s showleft 1.5s ease-in-out forwards ;
            }
        }
        .cord{
            justify-self: center;
            width: 50%;
            grid-column: span 2;
        }

        .groomsman{
            opacity: 0;
            animation: 1s showleft  ease-in-out forwards ;
            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                  animation-delay: $i * 100ms;
                }
              }
        }

        .bearer{
            text-align: center;
            display: grid;
            grid-column:  span 2;
            grid-template-columns: 1fr 1fr 1fr;
            .title{
                font-size: 1.5em;
            }
            .name{
                animation: 1s showleft 1.5s ease-in-out forwards ;
                opacity: 0;
            }
        }

        .folwergirls{
            grid-column: span 2;
            text-align: center;
            .title{
                font-size: 1.5em;
                opacity: 0;
                animation: 1s showleft 1.5s ease-in-out forwards ;

            }
            .names{
                display: grid;
                opacity: 0;
                grid-template-columns: repeat(2,1fr);
                animation: 1s showleft 2s ease-in-out forwards ;
            }
        }

        
        .bridesmaid{
            opacity: 0;
            animation: 1s showright  ease-in-out forwards ;
            @for $i from 1 through 30 {
                &:nth-child(#{$i}) {
                  animation-delay: $i * 100ms;
                }
              }
        }

        
        .bestman{
            .title{
                opacity: 0;
                animation: 1s showright 2.3s ease-in-out forwards ;
            }
            .name{
                opacity: 0;
                animation: 1s showright 2.5s ease-in-out forwards ;
            }
        }
        .maidofhonor{
            .title{
                opacity: 0;
                animation: 1s showleft 2.3s ease-in-out forwards ;
            }
            .name{
                opacity: 0;
                animation: 1s showleft 2.5s ease-in-out forwards ;
            }
        }
    }


}

@media screen and (min-width:600px) {
    .page2{

        .rose{
            height: 200px;
            background-size: 200px;
        }

        .rose:nth-child(1){
            top: 10%;
            left: 30%;
        }
        .rose:nth-child(2){
            top: 18%;
            left: 75%;
        }
        .rose:nth-child(3){
            top: calc(85% + 5vw);
            left: 80%;
        }
        .rose:nth-child(4){
            top: calc(70% + 5vw);
            left: 25%;
        }
        .rose:nth-child(5){
            top: calc(75% + 5vw);
            left: 90%;
        }
        .lastnames{
            font-size: 3rem;
        }
        .sponsors{
            width: 65vw;
            transform: translate(-50%,0);
            left: 50%;
            position: absolute;
            font-size: .9em;

            .ninongs,.ninangs{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .bestman,.maidofhonor{
                margin-top: -2em;
                .name{
                    font-size: 2em;
                }
            }
        }
    }
}